{% extends 'base.html' %}

{% block title %}Historial propiedades{% endblock %}

{% block custom_css %}
<style>
select option[disabled] {
    display: none;
}
</style>
{% endblock %}

{% block content %}

<!-- Properties -->
<div id="propiedades" class="flex-1 bg-white p-6">
  <h2 class="text-xl font-bold mb-4">Historial propiedades</h2>
  <form method="post" action="{{ url_for('property_search') }}">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4 mb-8">
      <div>
        <label for="region" class="block text-sm font-medium text-gray-700">Región:</label>
        <select id="region" name="region" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 bg-gray-100 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="loadCommunes(this.value)">
          <option value="">Selecciona una región</option>
          {% for region in regions %}
            {% if region.id == region_id %}
              <option value="{{ region.id }}" selected>{{ region.description }}</option>
            {% else %}
              <option value="{{ region.id }}">{{ region.description }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="comuna" class="block text-sm font-medium text-gray-700">Comuna:</label>
        <select id="comuna" name="comuna" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 bg-gray-100 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="loadRegions(this.value)">
          <option value="">Selecciona una comuna</option>
          {% for commune in communes %}
            {% if commune.id == commune_id %}
              <option value="{{ commune.id }}" selected>{{ commune.description }}</option>
            {% else %}
              <option value="{{ commune.id }}">{{ commune.description }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="manzana" class="block text-sm font-medium text-gray-700">Manzana:</label>
        <input type="text" id="manzana" name="manzana" class="mt-1 block w-full px-3 py-2 text-base border-gray-300 bg-gray-100 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" value="{{ block_number if block_number else '' }}">
      </div>
      <div>
        <label for="predio" class="block text-sm font-medium text-gray-700">Predio:</label>
        <input type="text" id="predio" name="predio" class="mt-1 block w-full px-3 py-2 text-base border-gray-300 bg-gray-100 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" value="{{ property_number if property_number else '' }}">
      </div>
      <div>
        <label for="anio" class="block text-sm font-medium text-gray-700">Año:</label>
        <select id="anio" name="anio" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 bg-gray-100 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
          <option value="">Selecciona un año</option>
          {% for y in range(min_year, max_year) %}
            {% if y == selected_year %}
              <option value="{{ y }}" selected>{{ y }}</option>
            {% else %}
              <option value="{{ y }}">{{ y }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div>
        <button type="submit" class="mt-6 w-full bg-blue-500 text-white py-2 px-4 rounded-lg custom-shadow">Buscar</button>
      </div>
    </div>
  </form>

  <!-- Table -->
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="table-responsive table-responsive-lg">
      <table class="w-full table-auto mb-4">
        <thead>
          <tr>
            <th class="px-4 py-2 border">Número de propiedad</th>
            <th class="px-4 py-2 border">Manzana</th>
            <th class="px-4 py-2 border">Comuna</th>
            <th class="px-4 py-2 border">Región</th>
            <th class="px-4 py-2 border">RUT de persona</th>
            <th class="px-4 py-2 border">Porcentaje</th>
            <th class="px-4 py-2 border">Páginas</th>
            <th class="px-4 py-2 border">Fecha de inscripción</th>
            <th class="px-4 py-2 border">Número de inscripción</th>
            <th class="px-4 py-2 border">Año de vigencia inicial</th>
            <th class="px-4 py-2 border">Año de vigencia final</th>
          </tr>
        </thead>
        <tbody>
          {% for multi_property in multi_properties %}
          <tr>
            <td class="px-4 py-2 border">{{ multi_property.property.number }}</td>
            <td class="px-4 py-2 border">{{ multi_property.property.block.number }}</td>
            <td class="px-4 py-2 border">{{ multi_property.property.block.commune.description }}</td>
            <td class="px-4 py-2 border">{{ multi_property.property.block.commune.region.description }}</td>
            <td class="px-4 py-2 border">{{ multi_property.person.run }}</td>
            <td class="px-4 py-2 border">{{ multi_property.percentage if multi_property.percentage is not none else 'N/A' }}</td>
            <td class="px-4 py-2 border">{{ multi_property.pages }}</td>
            <td class="px-4 py-2 border">{{ multi_property.inscription_date }}</td>
            <td class="px-4 py-2 border">{{ multi_property.inscription_number }}</td>
            <td class="px-4 py-2 border">{{ multi_property.initial_vigency_year }}</td>
            <td class="px-4 py-2 border">{{ multi_property.final_vigency_year if multi_property.final_vigency_year is not none else 'N/A' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flex justify-between items-center">
      <div>Showing {{ multi_properties | length }} entries</div>
      <div>
        <label for="entries">Show</label>
        <select id="entries" class="border border-gray-300 bg-gray-100 rounded-md p-1">
          <option>10</option>
        </select>
        entries
      </div>
    </div>
    <div class="mt-4 flex justify-end">
      <button class="p-2">1</button>
      <button class="p-2">2</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/helpers/general.js') }}"></script>

{% endblock %}
