<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registro de formularios{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        .content-wrapper {
            flex: 1 0 auto;
        }
        .active {
            background-color: #4267B2;
        }
        .tooltip-content {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            left: 50%;
            top: 100%;
        }
        .tooltip-content.show {
            display: block;
            opacity: 1;
        }
    </style>
    {% block custom_css %}{% endblock %}
</head>
<body class="bg-[#f9f9f9]">
    <div class="md:flex h-screen">
        <!-- Sidebar -->
        <div class="w-64 bg-[#598dc6] p-4 text-white hidden md:block">
            <div class="mb-8">
                <div class="text-4xl font-bold">GBR</div>
                <div class="text-l" style="margin-bottom: 10px;">Gestor de bienes raices</div>
                <hr>
              </div>
            <ul>
                <li class="my-2 p-2 hover:bg-blue-600 rounded {% if request.endpoint == 'property_search' %}active{% endif %}" id="propiedades-tab">
                    <i class="fa-solid fa-house p-2"></i>Propiedades
                </li>
                <li class="my-2 p-2 hover:bg-blue-600 rounded {% if request.endpoint == 'forms_index' %}active{% endif %}" id="formularios-tab">
                    <i class="fa-solid fa-file-lines p-2"></i>Formularios
                </li>
            </ul>
        </div>
        <!-- Mobile Menu Button -->
        <button id="menu-button" class="block md:hidden p-4">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Content -->
        <div class="flex-1 bg-white p-6">
            <h2 class="text-xl font-bold mb-4">Formularios Ingresados</h2>
            <div class="flex justify-between mb-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full sm:w-2/3">
                    <a href="{{ url_for('create_form') }}" class="bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition duration-300">
                        <i class="fa-solid fa-plus mr-2"></i>Agregar Formulario
                    </a>
                    <div class="relative inline-block">
                        <button class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300" onclick="openModal()">
                            <i class="fa-solid fa-upload mr-2"></i>Carga Masiva
                        </button>
                        <span class="info-icon ml-2 inline-flex items-center justify-center w-5 h-5 rounded-full bg-gray-200 text-blue-600 hover:bg-blue-100 transition duration-300 cursor-pointer" onmouseover="showTooltip(event, this)" onmouseout="hideTooltip(this)">
                            <i class="fas fa-info text-xs"></i>
                        </span>
                        <div class="tooltip-content hidden absolute z-10 w-128 p-4 mt-2 bg-white rounded-lg shadow-lg border border-gray-200">
                          <p class="text-sm text-gray-700 mb-2">El archivo json debe tener el siguiente formato:</p>
                          <pre id="jsonTemplate" class="text-xs bg-gray-100 p-2 rounded">{{ json_data | safe }}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="bg-white rounded-lg shadow-md p-4">
                <table class="w-full table-auto mb-4">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border">N° Atención</th>
                            <th class="px-4 py-2 border">CNE</th>
                            <th class="px-4 py-2 border">Comuna</th>
                            <th class="px-4 py-2 border">Manzana</th>
                            <th class="px-4 py-2 border">Predio</th>
                            <th class="px-4 py-2 border">Fojas</th>
                            <th class="px-4 py-2 border">Fecha inscripción</th>
                            <th class="px-4 py-2 border">N° inscripción</th>
                            <th class="px-4 py-2 border">Transacciones</th>
                            <th class="px-4 py-2 border">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form_data in forms_data %}
                        <tr>
                            <td class="px-4 py-2 border">{{ form_data.attention_number }}</td>
                            <td class="px-4 py-2 border">{{ form_data.cne }}</td>
                            <td class="px-4 py-2 border">{{ form_data.commune }}</td>
                            <td class="px-4 py-2 border">{{ form_data.block }}</td>
                            <td class="px-4 py-2 border">{{ form_data.property }}</td>
                            <td class="px-4 py-2 border">{{ form_data.pages }}</td>
                            <td class="px-4 py-2 border">{{ form_data.inscription_date }}</td>
                            <td class="px-4 py-2 border">{{ form_data.inscription_number }}</td>
                            <td class="px-4 py-2 border">{{ form_data.transactions }}</td>
                            <td class="px-4 py-2 border">
                                <a href="{{ url_for('forms_index', attention_number=form_data.attention_number) }}" class="bg-transparent text-black py-2 px-4 rounded-lg hover:bg-blue-500 hover:text-white transition duration-300">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="flex justify-between items-center">
                    <div>Mostrando {{ forms_data|length }} entradas</div>
                    <div>
                        <label for="entries">Mostrar</label>
                        <select id="entries" class="border border-gray-300 bg-gray-100 rounded-md p-1">
                            <option>10</option>
                        </select>
                        entradas
                    </div>
                </div>
                <div class="mt-4 flex justify-end">
                    <button class="p-2">1</button>
                    <button class="p-2">2</button>
                </div>
            </div>
        </div>
    </div>

    <div id="uploadModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
      <div class="bg-white rounded-lg w-3/4 md:w-1/2 p-6">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-bold">Carga Masiva</h2>
          <button class="text-red-500" onclick="closeModal()">X</button>
        </div>
        <div>
          <div class="upload-drop-zone" id="drop-zone">
            Arrastra tu archivo aquí o
            <input type="file" id="fileInput" class="custom-file-input" accept=".json">
            <label class="custom-file-label" for="fileInput">en formato .json</label>
          </div>
        </div>
        <div class="flex justify-end mt-4">
          <button type="button" class="bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition duration-300" onclick="uploadFile()">
            <i class="fa-solid fa-plus mr-2"></i> Subir Archivo
          </button>
        </div>
      </div>
    </div>

    <!-- Loading animation -->
    <div id="loadingAnimation" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
      <div class="loader"></div>
    </div>
    
    <style>
    .upload-drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }
    .modal.show {
        display: block;
    }
    .tooltip-content {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
    
    <script>
    // INFO json
    function showTooltip(event, element) {
        const tooltip = element.nextElementSibling;
        tooltip.classList.remove('hidden');
    }

    function hideTooltip(event, element) {
        const tooltip = element.nextElementSibling;
        if (!tooltip.contains(event.relatedTarget)) {
            tooltip.classList.add('hidden');
        }
    }

    document.getElementById('copyButton').addEventListener('click', function() {
        const jsonContent = document.getElementById('jsonTemplate').textContent;
        navigator.clipboard.writeText(jsonContent).then(() => {
            alert("JSON copied to clipboard!");
        }).catch(err => {
            console.error('Failed to copy: ', err);
        });
    });

    // upload modal
    function openModal() {
        document.getElementById('uploadModal').classList.remove('hidden');
    }
    
    function closeModal() {
        document.getElementById('uploadModal').classList.add('hidden');
    }
    
    function uploadFile() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('jsonData', file);

        // Show the loading animation
        document.getElementById('loadingAnimation').classList.remove('hidden');
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/', true);
        xhr.onload = function() {
            // Hide the loading animation
            document.getElementById('loadingAnimation').classList.add('hidden');
            
            if (xhr.status === 200) {
                console.log('File uploaded successfully!');
                location.reload();
            } else {
                console.error('Error:', xhr.statusText);
            }
        };
        xhr.onerror = function() {
            // Hide the loading animation
            document.getElementById('loadingAnimation').classList.add('hidden');
            
            console.error('Network Error');
        };
        xhr.send(formData);
    }
    </script>

    {% if form_data %}
       {% include 'forms/show.html' %}
    {% endif %}
    {% if cnes %}
       {% include 'forms/create.html' %}
    {% endif %}

    <script>
        document.getElementById('propiedades-tab').addEventListener('click', function() {
            window.location.href = "{{ url_for('property_search') }}";
        });

        document.getElementById('formularios-tab').addEventListener('click', function() {
            window.location.href = "{{ url_for('forms_index') }}";
        });

        document.getElementById('menu-button').addEventListener('click', function() {
            const sidebar = document.querySelector('.w-64');
            sidebar.classList.toggle('hidden');
        });

        function showTooltip(event, element) {
            var tooltip = element.nextElementSibling;
            tooltip.classList.remove('hidden');
            tooltip.classList.add('show');
        }

        function hideTooltip(element) {
            var tooltip = element.nextElementSibling;
            tooltip.classList.remove('show');
            tooltip.classList.add('hidden');
        }
    </script>

    
</body>
</html>