{% extends 'base.html' %}

{% block title %}Inscripción/Enajenación{% endblock %}

{% block custom_css %}
<style>
select option[disabled] {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4><b>Formulario</b> #{{ form.attention_number }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title"><b>Detalles</b></h5>
            <ul class="list-group">
                <li class="list-group-item"><b>CNE:</b> {{ form.cne.description }}</li>
                <li class="list-group-item"><b>Región:</b> {{ form.property.block.commune.region.description }}</li>
                <li class="list-group-item"><b>Comuna:</b> {{ form.property.block.commune.description }}</li>
                <li class="list-group-item"><b>Manzana:</b> {{ form.property.block.number }}</li>
                <li class="list-group-item"><b>Predio:</b> {{ form.property.number }}</li>
            </ul>
            <h5 class="mt-3"><b>Enajenantes</b></h5>
            <ul class="list-group">
                {% for seller in sellers %}
                <li class="list-group-item">
                    <div><b>RUN:</b> {{ seller.person.run }}</div>
                    <br>
                    {% if seller.percentage %}
                    <div><b>% de derecho:</b> {{ seller.percentage }}</div>
                    {% else %}
                    <div><b>% de derecho:</b> Desconocido</div>
                    {% endif %}
                </li>
                {% endfor %}
                {% if not sellers %}
                <li class="list-group-item">No se encontraron enajenantes</li>
                {% endif %}
            </ul>
            <h5 class="mt-3"><b>Adquirentes</b></h5>
            <ul class="list-group">
                {% for buyer in buyers %}
                <li class="list-group-item">
                    <div><b>RUN:</b> {{ buyer.person.run }}</div>
                    <br>
                    {% if buyer.percentage %}
                    <div><b>% de derecho:</b> {{ buyer.percentage }}</div>
                    {% else %}
                    <div><b>% de derecho:</b> Desconocido</div>
                    {% endif %}
                </li>
                {% endfor %}
                {% if not buyers %}
                <li class="list-group-item">No se encontraron adquirentes</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}