<div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg w-3/4 md:w-1/2 p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Formulario #{{ form_data.attention_number }}</h2>
      <a href="{{ url_for('forms_index') }}" class="text-red-500">X</a>
    </div>
    <div>
      <h3 class="font-bold mb-2">Detalles</h3>
      <div class="grid gap-4 mb-4">
        <div class="p-4 border rounded-lg">
          <strong>CNE:</strong> {{ form_data.cne.description }}
        </div>
        <div class="p-4 border rounded-lg">
          <strong>Región:</strong> {{ form_data.property.block.commune.region.description }}
        </div>
        <div class="p-4 border rounded-lg">
          <strong>Comuna:</strong> {{ form_data.property.block.commune.description }}
        </div>
        <div class="p-4 border rounded-lg">
          <strong>Manzana:</strong> {{ form_data.property.block.number }}
        </div>
        <div class="p-4 border rounded-lg">
          <strong>Predio:</strong> {{ form_data.property.number }}
        </div>
      </div>
      </div>
      <h3 class="font-bold mb-2">Enajenantes</h3>
      <div class="grid gap-4 mb-4">
        {% for seller in sellers %}
        <div class="p-4 border rounded-lg">
          <strong>RUN:</strong> {{ seller.person.run }}<br>
          <strong>% de derecho:</strong> {{ seller.percentage if seller.percentage else "Desconocido" }}
        </div>
        {% endfor %}
        {% if not sellers %}
        <div class="p-4 border rounded-lg">No se encontraron enajenantes</div>
        {% endif %}
      </div>
      <h3 class="font-bold mb-2">Adquirentes</h3>
      <div class="grid gap-4">
        {% for buyer in buyers %}
        <div class="p-4 border rounded-lg">
          <strong>RUN:</strong> {{ buyer.person.run }}<br>
          <strong>% de derecho:</strong> {{ buyer.percentage if buyer.percentage else "Desconocido" }}
        </div>
        {% endfor %}
        {% if not buyers %}
        <div class="p-4 border rounded-lg">No se encontraron adquirentes</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  window.onclick = function(event) {
    const modal = document.getElementById("modal");
    if (event.target == modal) {
      window.location.href = "{{ url_for('forms_index') }}";
    }
  };
</script>