<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    {% block custom_css %}{% endblock %}
</head>
<style>
    .content-wrapper {
        flex: 1 0 auto;
    }
    .active {
        background-color: #4267B2;
    }
</style>
</head>
<body class="bg-[#f9f9f9]">
  <div class="md:flex h-screen">
    <!-- Sidebar -->
    <div class="w-64 bg-[#598dc6] p-4 text-white hidden md:block">
      <div class="mb-8">
        <div class="text-2xl font-bold">GBR</div>
        <div class="text-sm">Gestor de bienes raices</div>
      </div>
      <ul>
        <li class="my-2 p-2 hover:bg-blue-600 rounded {% if request.endpoint == 'property_search' %}active{% endif %}" id="propiedades-tab">
          <i class="fa-solid fa-house p-2"></i>Propiedades
        </li>
        <li class="my-2 p-2 hover:bg-blue-600 rounded {% if request.endpoint == 'forms_index' %}active{% endif %}" id="formularios-tab">
          <i class="fa-solid fa-file-lines p-2"></i>Formularios
        </li>
      </ul>
    </div>
    <!-- Mobile Menu Button -->
    <button id="menu-button" class="block md:hidden p-4">
      <i class="fa-solid fa-bars"></i>
    </button>

    {% block content %}{% endblock %}

    {% block custom_js %}{% endblock %}
    <script>
      document.getElementById('propiedades-tab').addEventListener('click', function() {
        window.location.href = "{{ url_for('property_search') }}";
      });

      document.getElementById('formularios-tab').addEventListener('click', function() {
        window.location.href = "{{ url_for('forms_index') }}";
      });

      document.getElementById('menu-button').addEventListener('click', function() {
        const sidebar = document.querySelector('.w-64');
        sidebar.classList.toggle('hidden');
      });
    </script>
</body>
</html>