{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="min-height-100 d-flex flex-column justify-content-center align-items-center">
    <div class="jumbotron">
        <h1 class="display-4 text-center mb-4">¡Bienvenido a Nuestra Aplicación de Gestión de Propiedades!</h1>
        <hr class="my-4">
        <p class="lead text-center">Gestione y realice un seguimiento eficiente de las transacciones de propiedades inmobiliarias.</p>
        <p class="text-center mb-4">Esta aplicación está diseñada para determinar los propietarios de una propiedad y sus porcentajes de propiedad en un momento dado.</p>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Registrar Transacciones</h5>
                        <p class="card-text">Ingrese detalles sobre inscripciones o enajenaciones de propiedades, incluyendo información de vendedores, compradores, naturaleza de la escritura y más.</p>
                        <a href="{{url_for('create_form')}}" class="btn btn-primary mt-auto">Ir a Inscribir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Ver Registros</h5>
                        <p class="card-text">Acceda a una lista completa de todas las transacciones de propiedad registradas en un formato de cuadrícula.</p>
                        <a href="{{url_for('get_forms')}}" class="btn btn-secondary mt-auto">Ver Formularios</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Seguimiento de Propiedad y Carga Masiva</h5>
                        <p class="card-text">Obtenga información de propiedad para un año específico, o cargue transacciones de forma masiva utilizando un archivo JSON.</p>
                        <a href="{{url_for('property_search')}}" class="btn btn-secondary mt-auto w-100">Buscador e Importación Masiva</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}